.burger {
    @include circle(var(--header-height));
    background: #ffffff;
    
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        box-shadow: 2px 4px 30px 12px rgba(255, 255, 255, 0.35);
    }
}
