section.reviews
  .wrapper.reviews__inner
      section.reviews__title-section
        h2.reviews__title.observed(data-class="fade-in-up") Отзывы на раскраску
        a(href="https://forms.yandex.ru/cloud/634d5643e010db15a5aa8f9d" target="_blank").button.reviews__button Добавить отзыв
  .wrapper.reviews__text-content
    .swiper-reviews
      .swiper-wrapper.reviews-content
        article.reviews__review-card.swiper-slide
          section.reviews__review-card__header
            h3.reviews__review-author Антонина
            section.reviews__review-photos
              a(href="./images/photo_plug.jpeg" target="_blank")
                img(src="./images/photo_plug.jpeg", alt="Фото").reviews__review-photo
              a(href="./images/photo_plug.jpeg" target="_blank")
                img(src="./images/photo_plug.jpeg", alt="Фото").reviews__review-photo
          section.reviews__review-card__content
            p.reviews__review-card__content-text Самая лучшая в мире раскраска, раскрашиваем всей семьёй, уже всем знакомым детям распечатали. Очень нравится, что раскраску легко сшить и превратить в книжку, ребёнку и мне очень нравится. Стишки просто идеальные, приобщают к веганству с малых лет.
        article.reviews__review-card.swiper-slide
          section.reviews__review-card__header
            h3.reviews__review-author варя свойпродукт
            section.reviews__review-photos
              a(href="./images/photo_plug.jpeg" target="_blank")
                img(src="./images/photo_plug.jpeg", alt="Фото").reviews__review-photo
              a(href="./images/photo_plug.jpeg" target="_blank")
                img(src="./images/photo_plug.jpeg", alt="Фото").reviews__review-photo
          section.reviews__review-card__content
            p.reviews__review-card__content-text раскраска просто потрясающая, спасибо Вам огромное! Вы проделываете невероятно большую работу! как я и говорила, что раздала её деткам в садике-они в восторге! 🙏 раскрашиваем в свободное времечко, жаль пока нет фотографий, но я постараюсь как будет возможность!! вы просто чудесная команда которая помогает проще жить!!!
        article.reviews__review-card.swiper-slide
          section.reviews__review-card__header
            h3.reviews__review-author Олимпиада Венедиктовна
            section.reviews__review-photos
              a(href="./images/photo_plug.jpeg" target="_blank")
                img(src="./images/photo_plug.jpeg", alt="Фото").reviews__review-photo
          section.reviews__review-card__content
            p.reviews__review-card__content-text Доча в восторге, выучила все стишки и рассказывает в саду.
        article.reviews__review-card.swiper-slide
          section.reviews__review-card__header
            h3.reviews__review-author Тест Тест
            section.reviews__review-photos
              a(href="./images/photo_plug.jpeg" target="_blank")
                img(src="./images/photo_plug.jpeg", alt="Фото").reviews__review-photo
          section.reviews__review-card__content
            p.reviews__review-card__content-text Тест тесттест тест тест тест тест тест тест тест тест тест тест тест тест.
        article.reviews__review-card.swiper-slide
          section.reviews__review-card__header
            h3.reviews__review-author Тест Тест
            section.reviews__review-photos
              a(href="./images/photo_plug.jpeg" target="_blank")
                img(src="./images/photo_plug.jpeg", alt="Фото").reviews__review-photo
          section.reviews__review-card__content
            p.reviews__review-card__content-text Тест тесттест тест тест тест тест тест тест тест тест тест тест тест тест.
        article.reviews__review-card.swiper-slide
          section.reviews__review-card__header
            h3.reviews__review-author Тест Тест
            section.reviews__review-photos
              a(href="./images/photo_plug.jpeg" target="_blank")
                img(src="./images/photo_plug.jpeg", alt="Фото").reviews__review-photo
              a(href="./images/photo_plug.jpeg" target="_blank")
                img(src="./images/photo_plug.jpeg", alt="Фото").reviews__review-photo
          section.reviews__review-card__content
            p.reviews__review-card__content-text Тест тесттест тест тест тест тест тест тест тест тест тест тест тест тест.
      .swiper-pagination
  a(href="https://forms.yandex.ru/cloud/634d5643e010db15a5aa8f9d" target="_blank").button.reviews__button_mobile Добавить отзыв
